.root{
    -fx-background-image : url('Images/pexels.jpg');
    -fx-background-size: contain, contain, contain, contain, contain, contain, contain, contain;
    -fx-background-repeat: none, none, none, none, none, none, none, none;
}

.cardPane{
    -fx-background-color: white;
    -fx-background-radius: 8px;
}

.topPane{
    -fx-background-color: rgb(0, 162, 232);
}

.textField{
    -fx-background-color: rgb(240, 240, 240);
    -fx-border-color: rgb(0, 162, 232); // rgb(195, 195, 195);
    -fx-border-width: 0px 0px 2px 0px;
}

.textField:focused{
    -fx-border-color: rgb(195, 195, 195);
}

.boutonAction{
     -fx-background-color: rgb(0, 162, 232);
}

.boutonAction:hover{
    -fx-background-color: rgb(53, 194, 255);
}

.winclose{
    -fx-background-color: transparent;
}

.vbacground{
    -fx-background-image : url('Image/pexels-johannes-plenio-1103970.jpg');
}